<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Message Board</title>
  <style>
    form label, form input {
      display: block;
    }
  </style>
</head>
<body>
  <h1>Errors</h1>
  <hr>
  <div class="container">
    <%= errors %>
    <a href="/">Home</a>
  </div>
</body>
</html>