<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Message Board</title>
  <style>
    form label, form input {
      display: block;
    }
  </style>
</head>
<body>
  <h1>The Dojo Message Board</h1>
  <hr>
  <div class="container">
    <form action="/messages" method="post">
      
      <label>
        Name: <input type="text" name="name" value="">
      </label>
      <label>
        Message: 
        <textarea name="text" id="" cols="30" rows="10"></textarea>
      </label>
      <br>
      <input type="submit" value="Post message">
    </form>
    
    <br>
    
    <% messages.forEach(function(message, index){ %>
      <h2>Name: <%= message.name %> at <%= message.createdAt %></h2>
      <h2>Message: <%= message.text %></h2>
      <form action="/messages/:id" method="post">
        <label>
          Name: <input type="text" name="name" value="">
        </label>
        <label>
          Comment: 
          <textarea name="text" id="" cols="30" rows="10"></textarea>
        </label>
        <br>
        <input type="submit" value="Post comment">
      </form>
      <hr/>
    <% }) %>

  </div>
</body>
</html>