<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Message Board</title>
  <style>
    form label, form input {
      display: block;
    }
  </style>
</head>
<body>
  <h1>The Dojo Message Board</h1>
  <hr>
  <div class="container">
    <form action="/messages" method="post">
      
      <label>
        Name: <input type="text" name="name" value="">
      </label>
      <label>
        Message: 
        <textarea name="content" id="" cols="30" rows="10"></textarea>
      </label>
      <br>
      <input type="submit" value="Post message">
    </form>
    
    <br>
    <%= messages %>

  </div>
</body>
</html>